button {
  font-family: 'Share Tech Mono', monospace;
	font-size: 32px;
  text-transform: uppercase;
	margin: 0 auto;
	padding: 7px 35px;
  margin-bottom: 45px;
  background-color: transparent;
  color: whitesmoke;
  cursor: pointer;
  transition: .3s;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 0 2px black;
}

button:hover {
  background-color: #aaff77;
  color: black;
}

.shakeHorizontal {
	-webkit-animation: shakeHorizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shakeHorizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@keyframes shakeHorizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}
